@font-face {
  font-family: 'NotoSans';
  src: url('NotoSans-Regular.woff2') format('woff2'),
    url('NotoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('NotoSans-Italic.woff2') format('woff2'),
    url('NotoSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'NotoSans';
  src: url('NotoSans-Bold.woff2') format('woff2'),
    url('NotoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
html {
  font-family: 'NotoSans', sans-serif;
  font-weight: normal;
  font-style: normal;
}
